* { margin: 0; padding: 0; box-sizing: border-box; font-family: "DM Sans", sans-serif; text-decoration: none;}

html, body {
    width: 100vw;
}

a {
    color: black
}

.navbar {
    width: 100%;
    min-height: 50px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-link {
    transition: 0.7s ease;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(255, 0, 0);
}

.topics-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 25px;
    margin: 0px 50px;
    background-color: white;
}

.logo {
    margin-right: auto;
    margin-left: 20px;
}

#logoFirstPart {
    color: black;
    font-size: 20px;
    font-weight: 700;
}

#logoSecondPart {
    color: red;
    font-size: 20px;
    font-weight: 700;
}

.username {
    margin-left: auto;
    margin-right: 20px;
}

header nav ul {
    display: flex;
    list-style: none;

    margin-left: auto;
    margin-right: auto;
}

header nav ul li a {
    display: block;
    padding: 16px 20px;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
}

.artigos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.article {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 1rem;
}

.cover {
    max-width: 360px;
    max-height: 190px;
}

.article-title {
    max-width: 340px;
}

.article-description {
    max-width: 340px;
}

.author {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-picture {
    max-width: 40px;
    border-radius: 24px;
}

@media only screen and (max-width: 768px) {
    .username {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    main {
        margin: 0;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 50px;
        width: 100%;
        gap: 0;
        flex-direction: column;
        background-color: antiquewhite;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

    .main.active {
        margin-top: 280px;
    }

}