* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
}

a {
    color: black
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    
    margin-bottom: 30px;
    background-color: #FFDBDB;
}

.logo, .sections, .usernameContainer {
    margin: 15px 0px;
}

.logoFirstPart {
    color: black;
    font-size: 36px;
    font-weight: 700;
}

#logoSecondPart {
    color: red;
}

.username {
    color: black;
    font-size: 24px;
}

.section {
    font-size: 16px;
    margin: 0px 30px;
    color: black;
}

.topics {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 25px;
    margin: 50px;
}   

.topic {
    font-size: 16px;
    margin: 0px 20px;
    color: black;
}

.articles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.article {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.cover {
    max-width: 350px;
    max-height: 190px;
}

.article-title {
    max-width: 340px;
}

.article-description {
    max-width: 340px;
}

.author {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-picture {
    max-width: 40px;
    border-radius: 24px;
}